* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f0f0f0;
    width: 1000px;
    height: 1000px;
    border: #000 solid 2px;
    margin: 0 auto;
}

hr {
    border: 1px solid #000;
    margin: 80px 80px 0px 80px;
}

h3 {
    font-size: 1.0rem;
    font-weight: bold;
    margin: 20px 80px 19px 80px;
    color: green;
}

p {
    font-size: 0.9rem;
    margin: 0px 80px 10px 80px;
}

ul {
    list-style-type: none;
    margin: 0px 80px 0px 80px;
    list-style-type: disc;
}

li {
    margin-left: 50px;
}


.blue{
    color: rgb(17, 132, 226);
    font-weight: bold;
}